@import url('https://fonts.googleapis.com/css2?family=Overlock:ital@1&family=Quattrocento+Sans&family=Sriracha&display=swap');
*{
    margin:0;
    padding: 0;
}
body{
    font-family: QuattrocentoSans,sans-serif;
}